<html>
	<head>

		<title> Web Development </title>
	
	</head>

	<body>

		<h1>Web Development </h1>

		<div id = "Intro">		

			<p> Web development is the work involved in developing a Web site for the Internet (World Wide Web) or an intranet (a private network). ... 			Among Web professionals, "Web development" usually refers to the main non-design aspects of building Web sites: writing markup and coding.</br> 
			<h4> The Three Types of Web Developers </h4>
				<ul id = "Types">
					<li> The Front-End Developer</li>
					<li> The Back-End Developer</li>
					<li> The Full-Stack Developer</li>
				</ul>
			Here, we can see the programming langueges which developers have used for web development widely.</p>
		</div>
		
		<h3> 1. The Front-End Developer </h3>

		<div class = "developer">
			<p> Front-end web development, also known as client-side development is the practice of producing HTML, CSS and JavaScript for a website or Web 			Application so that a user can see and interact with them directly. The challenge associated with front end development is that the tools and 				techniques used to create the front end of a website change constantly and so the developer needs to constantly be aware of how the field is 				developing.</br></br> Below are the front end programming language widely using from The Front-End Developer,</p>

		</div>

		<h3> 2. The Back-End Developer </h3>

		<div class = "developer">
			<p> Back end Development refers to the server side of development where you are primarily focused on how the site works. ... This type of web 			development usually consists of three parts: a server, an application, and a database. Code written by back end developers is what communicates 			the database information to the browser. </br></br> Below are the back end programming language widely using from The Back-End Developer,</p>

		</div>

		<h3> 3. The Full-Stack Developer  </h3>

		<div class = "developer">
			<p> Full Stack Developer is a software expert who's equally proficient in frontend (client-side) development and backend (server-side) 					development. Full Stack Developers are familiar with each layer of tech stacks that go into the making of a software product. </br></br> Below 			are the full stack programming language widely using from The full stack Developer,</p>
		</div>

	</body>



</html>