<html>

	<head>

		<title> Siva Tutorial </title>
		<link rel = "stylesheet" href = "Home.css">
	</head>
<body>
	<div class = "menu_list">
		<ul>
			<li class = "active"> <a href = "#"> Home </a></li>
			<li> <a href = "#"> About Us </a>
				<div class = "Sub_menu1">
					<ul>
						<li><a href = "#"> Mission </a></li>
						<li><a href = "#"> Vision </a></li>
						<li><a href = "#"> Achievements </a></li>
					</ul>
				</div>
			</li>
				
			<li> <a href = "#"> Courses </a>
				<div class = "Sub_menu1">
					<ul>
						<li><a href = "#"> Python </a></li>
						<li><a href = "#"> Django</a></li>
						<li><a href = "#"> Java </a></li>
						<li><a href = "#"> JavaScript </a></li>
						<li><a href = "#"> HTML </a></li>
						<li><a href = "#"> CSS</a></li>
					</ul>
				</div>
			</li>
			<li> <a href = "#"> Clould Technologies</a>

				<div class = "Sub_menu1">
					<ul>
						<li><a href = "#"> AWS </a></li>
						<li><a href = "#"> Azure</a></li>
						<li><a href = "#"> Google Cloud </a></li>
					</ul>
				</div>
			</li>
			<li> <a href = "#">  Contact </a></li>
			<li class = "active"> <a href = "Registration.html"> Register</a></li>
			<li class = "active"> <a href = "login.html"> Login </a></li>
		</ul>
	</div>
</body>
</html>	