<html>

	<head>
		<title> Registration </title>
		<link rel = "stylesheet" href = "Registration.css">
	</head>

	<body>

		<h1> Siva Tutorial Registration Form </h1>
	
		<form id = "registration"  action = "login.html">

			<div class = "inputs">

				Name: <input type = "text" name = "Username" placeholder = "Enter the name"></br></br>
				Email: <input type = "text" name = "Email" placeholder = "Enter the Email ID"></br></br>
				Gender: <input type = "radio" name = "Gender-choice" choice = "choice-1">Male
				<input type = "radio" name = "Gender-choice" choice = "choice-2">Female
				<input type = "radio" name = "Gender-choice" choice = "choice-3">Others </br></br>
				DOB: <input type = "Date" name = "DOB"></br></br>
				Qualification: <input type = "text" name = "Qualification" placeholder = "Education Qualification"></br></br>
				Address Line 1: <input type = "text" name = "Address1" placeholder = "Flat. No"></br></br>
				Address Line 2: <input type = "text" name = "Address2" placeholder = "Street Name" size = "40"></br></br>
				Address Line 3: <input type = "text" name = "Address3" placeholder = "Landmark" size = "40"></br></br>
				District: <input type = "text" name = "district" placeholder = "District"></br></br>
				State: <input type = "text" name = "state" placeholder = "State"></br></br>
				Pincode: <input type = "text" name = "pincode" placeholder = "Pincode" size = "6"></br></br>
				Create Password: <input type = "password" name = "password" placeholder = "New Password"></br></br>
				Confirm Password: <input type = "password" name = "Cpassword" placeholder = "Confirm Password"></br></br>
				<button id = "Regist" type = "Submit"> Register <a href = "login.html"></a></button>

			</div>

			

		</form>	
	
	</body>


</html>